.buy {
  background-color: $color-jelly-bean;
  color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  font-weight: $fw-bold;
  padding: 5vh 0 5vh 0;
}
