.hero {
  background-color: $color-jelly-bean;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: $fs-x-large;
  height: 45vh;
}
