// Color scheme
$color-white: #fff;
$color-snow: #fafafa;
$color-quick-silver: #a0a0a0;
$color-jelly-bean: #e56353;
$color-salmon: #e97f72;
$color-pastel-pink: #f0a9a1;
$color-granite-grey: #686963;
$color-taupe-grey: #91918d;
$color-grey: #babab8;

//Typography
$ff-raleway: "Raleway", sans-serif;

//Font weigth
$fw-bold: 700;
$fw-regular: 400;
$fw-extra-ligth: 200;

//Font sizes
$fs-xx-large: 100px;
$fs-x-large: 70px;
$fs-large: 50px;
$fs-medium: 18px;
